<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">Meeting Organizer</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--            <div class="collapse navbar-collapse" id="me-navbar-collapse">-->
            <!--                <ul class="nav navbar-nav" id="navigation-tabs">-->
            <!--                    <li><a th:href="@{/profile}" th:text="#{navigation.profile}">Profile <span-->
            <!--                            class="sr-only">(current)</span></a></li>-->
            <!--                    <li><a th:href="@{/location}" th:text="#{navigation.locations}">Locations</a></li>-->
            <!--                    <li><a th:href="@{/history}" th:text="#{navigation.history}">Places</a></li>-->
            <!--                    <li><a th:href="@{/meetings}" th:text="#{navigation.meetings}">Your Meetings</a></li>-->
            <!--                    <li><a th:href="@{/meetings/new}" th:text="#{navigation.newMeeting}">New Meeting</a></li>-->
            <!--                    <li><a th:href="@{/people}" th:text="#{navigation.people}">Search for people</a></li>-->
            <!--                </ul>-->
            <!--                <ul class="nav navbar-nav navbar-right">-->
            <!--                    <li><a th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a></li>-->
            <!--                </ul>-->
            <!--                <p class="navbar-text navbar-right" sec:authorize="isAuthenticated()">-->
            <!--                    <span th:text="#{navigation.hello}"/> <span sec:authentication="name"/>-->
            <!--                </p>-->
            <!--            </div>-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" th:href="@{/profile}"
                           th:text="#{navigation.profile}">Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/location}" th:text="#{navigation.locations}">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/history}" th:text="#{navigation.history}">Places</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/meetings}" th:text="#{navigation.meetings}">Your Meetings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/meetings/new}" th:text="#{navigation.newMeeting}">New
                            Meeting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/people}" th:text="#{navigation.people}">Search for people</a>
                    </li>
                </ul>
                <span class="navbar-text"><a th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>&nbsp;</span>
                | &nbsp;
                <span class="navbar-text" sec:authorize="isAuthenticated()"></span> <span
                    th:text="#{navigation.hello}"/> <span sec:authentication="name"/>
            </div>
        </div>
    </nav>
</div>
<div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer2">
    <div class="container">
        <p class="navbar-text pull-left">© 2022 - Meeting Organizer Hendi Santika</p>
    </div>
</div>

<div class="container" th:fragment="footer">
    <div class="container">
        <p class="navbar-text pull-left">© 2022 - Meeting Organizer Hendi Santika</p>
    </div>
    <footer class="py-5">
        <div class="row">
            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Home</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Features</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Pricing</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">FAQs</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">About</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Home</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Features</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Pricing</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">FAQs</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">About</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Home</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Features</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Pricing</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">FAQs</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">About</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <label class="visually-hidden" for="newsletter1">Email address</label>
                        <input class="form-control" id="newsletter1" placeholder="Email address" type="text">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; © 2022 - Meeting Organizer Hendi Santika, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#twitter"/>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-dark" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#instagram"/>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-dark" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#facebook"/>
                    </svg>
                </a></li>
            </ul>
        </div>
    </footer>
</div>

<div th:fragment="scripts">
    <script src="/webjars/jquery/3.7.1/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.8/dist/js/bootstrap.min.js"></script>
    <script src="../resources/static/utils.js" th:src="@{/js/utils.js}"></script>
    <script src="../resources/static/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="../resources/static/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</div>
</body>
</html>