<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html ;charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title th:text="#{uploadErrorPage.title}">Error</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="../static/css/style.css"
          rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"/>
</head>
<body>
<div th:replace="fragments/common :: navbar">
    <p>Navbar</p>
</div>
<div class="container">

    <div class="alert alert-danger col-xs-12 col-sm-6 col-sm-offset-3" role="alert">
        <p th:text="#{uploadErrorPage.fileToBig}">Upload Exception</p>
    </div>

</div>
<div th:replace="fragments/common :: footer">
    <p>Footer</p>
</div>
<div th:replace="fragments/common :: scripts">
    <p>Scripts</p>
</div>
<script src="../resources/static/profile.js" th:src="@{/js/profile.js}"></script>
</body>
</html>