body {
    padding-bottom: 70px;
}

.alert-danger {
    padding-top: 20px;
}

img {
    width: 100%;
}

#profile-info {
    margin-top: 50px;
}

#page-size-select {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    img {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 50vh;
        width: 70vw;
    }

    blockquote {
        margin-top: 5%;
    }
}