<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html ;charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title th:text="#{locationPage.browseLocations.title}">Browse places</title>
    <link href="/webjars/bootstrap/5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="../../static/css/style.css"
          rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"/>
    <link href="../../static/css/dataTables.bootstrap.min.css"
          rel="stylesheet"
          th:href="@{/css/dataTables.bootstrap.min.css}"
          type="text/css"/>
</head>
<body>
<div th:replace="~{fragments/common :: navbar}">
    <p>Navbar</p>
</div>
<div class="container">
    <div th:replace="~{location/locationOptions :: locationOptionsThumbnails}">
        <p>Location options</p>
    </div>
    <table class="table table-bordered" id="locationTable">
        <thead>
        <tr>
            <th th:text="#{locationPage.location.name}">Name</th>
            <th th:text="#{locationPage.location.maxMembers}">Max members</th>
            <th th:text="#{locationPage.location.action.list}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row: ${locations}">
            <td th:text="${row.name}">name</td>
            <td th:text="${row.maxMembers}">members</td>
            <td>
                <a th:href="@{/location/{id}/details(id=${row.id})}"
                   th:text="#{locationPage.location.action.details}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/common :: footer}">
    <p>Footer</p>
</div>
<div th:replace="~{fragments/common :: scripts}">
    <p>Scripts</p>
</div>
<script src="../resources/static/location.js" th:src="@{/js/location.js}"></script>
</body>
</html>